#score{
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
#timer{
    float: right;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: lightskyblue;
}
h1{
    background-color: cornsilk;
    color: rgb(12, 0, 82);
    font-family: 'Oswald', sans-serif;
}
#showsketch{
    float: right;
}

#sketch_to_be_drawn{
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    color: lightcoral;
}

canvas 
  {
    border:2px solid white;
    border-radius:20px;
    margin-top:135px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(117, 0, 0);}
  to {box-shadow: 1px 1px 38px rgb(0, 58, 0);}

}

p, span
{
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
}

#showsketch:hover
{
    background-color: lightcoral;
}

#change
{
    background-color: white;
}

#sketch_button
{
    float: left;
}